.layout {
    max-width: 1024px;
    margin: 0 auto;
}

.layout button {
    text-decoration: none;
    color: #fff;
    background-color: #249be5;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.layout button a {
    text-decoration: none;
    color: #fff;
}

button + button {
    margin-left: 5px;
}

.header {
    padding: 20px 0;
}