.layout {
    max-width: 1024px;
    margin: 0 auto;
}

.layoutContainer {
    margin: 0 20px;
}

.layout button {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.layout a {
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 10px 20px;
}

a + a, button + button {
    margin-left: 5px;
}

.header {
    padding: 20px 0;
}