.modalWrapper {
    height: 100%;
    width: 100%;
    background-color: #282c3666;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.modalContainer {
    max-width: 326px;
    width: 75%;
    background-color: #fff;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0,0,0,.12), 0 0 10px rgba(0,0,0,.06);
}

.modalContainer label {
    font-size: 12px;
}

.modalContainer select, .modalContainer input {
    margin: 5px 0 10px;
}
.modalSelectContainer {
    display: flex;
}

.modalError {
    background-color: #ff92b030;
    padding: 5px;
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}