.gridCalendarItem {
	height: 90px;
	background-color: #fff;
	cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
	position: relative;
}

.gridCalendarItem:hover {
	background-color: #f5f5f5;
}

.tasksCount {
	position: absolute;
	top: 50px;
	right: 0;
	width: 100%;
	background-color: #ea7495;
	color: #fff;
	text-align: center;
}

.fade {
	color: #adadad;
	pointer-events: none;
}

.dayIndicator {
	display: flex;
	height: 30px;
	justify-content: flex-end;
	pointer-events: none;
    padding: 10px;
    line-height: 1.75;
}
