.taskListItem {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #dadce0;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.taskListItem:hover {
    background-color: #fafafa;
}

.taskListItem span {
    position: absolute;
    left: -25px;
    top: -10px;
    font-size: 11px;
}

.taskListItemFilled {
    background-color: #249be5;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
}

.noClick {
    pointer-events: none;
}